{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>Paul-Andrei Takács - Curriculum Vitae</title>

<meta name="viewport" content="width=device-width"/>
<meta name="description" content="The Curriculum Vitae of Paul-Andrei Takács."/>
<meta charset="UTF-8"> 

<link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}">
<link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700|Lato:400,300' rel='stylesheet' type='text/css'>

<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>
<body id="top">
<div id="cv" class="instaFade">
	<div class="mainDetails">
		<div id="headshot" class="quickFade">
			<img src="{% static 'images/headshot.jpg' %}" alt="Paul-Andrei Takács" />
		</div>
		
		<div id="name">
			<h1 class="quickFade delayTwo">Paul-Andrei Takács</h1>
			<h2 class="quickFade delayThree">Software Tester</h2>
		</div>
		
		<div id="contactDetails" class="quickFade delayFour">
			<ul>
				<li>andreitakacs@gmail(.)com</li>
				<li><a href="https://github.com/xtakacsx/">github.com/xtakacsx/</a></li>
				<li>0728615230</li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>
	
	<div id="mainArea" class="quickFade delayFive">
		<section>
			<article>
				<div class="sectionTitle">
					<h1>About Me</h1>
				</div>
				
				<div class="sectionContent">
					<p>Ambitious, competent ready to guarantee the high standards of quality required in modern day software development.</p>
					<p>Python enthusiast, eager to explore the strengths offered by the language and libraries.</p>
				</div>
			</article>
			<div class="clear"></div>
		</section>
		<br/>
		
		
		<section>
			<div class="sectionTitle">
				<h1>Work Experience</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<h2>Software Tester</h2>
					<p class="subDetails">Ubisoft Romania: Jan 2019 - Present</p>
					<p>Working with Digital Creation tools (3DS Max, Maya, Motion Builder).</p>
					<p>Writing and executing test cases both manual and automatic.</p>
					<p>Bug tracking: finding and reporting (JIRA, TestRail).</p>
					<p>Creating and running test plans.</p>
					<p>Writing activity reports.</p>
					<p>Continuous integration/continuous delivery CI/CD (Gitlab).</p>
					<p>Working with remote clients.</p>
					<p>Attending spring planning and demo meetings.</p>
					<p>Working towards ISTQB process standardization.</p>
					<p>Providing training material for the team(s).</p>
				</article>
				<br/>
				
				<article>
					<h2>Risk & Fraud Analyst</h2>
					<p class="subDetails">PITT: Apr 2018 - Nov 2018</p>
					<p>Perform game monitoring and analysis.</p>
					<p>Observe users’ betting behavior and analyze non-typical betting patterns and trends.</p>
					<p>Rapidly identify and mitigate suspected fraudulent activities and report to security staff of the suspected gameplay.</p>
					<p>Maintain familiarity with the games at a facility and betting strategies and techniques applied in those games.</p>
				</article>
				<br/>
				
				<article>
					<h2>Front-End Web Developer</h2>
					<p class="subDetails">Furmedia: Jan 2018 - Apr 2018</p>
					<p>Maintaining, building and designing websites. Working on platforms such as : Wordpress and Opencart.</p>
				</article>
				<br/>

				<article>
					<h2>Past Experiences</h2>
					<p>Supervisor: Platinum Casino</p>
					<p>Manager: Poker Room Bucharest</p>
					<p>Supervisor: Atlantic Casino Morocco</p>
					<p>Dealer: Grand Casino Hilton</p>
				</article>
				<br/>
			</div>
			<div class="clear"></div>
		</section>
		
		
		<section>
			<div class="sectionTitle">
				<h1>Key Skills</h1>
			</div>
			
			<div class="sectionContent">
				<ul class="keySkills">
					<li>Problem-solver</li>
					<li>Fast learner</li>
					<li>Self-Regulated</li>
					<li>Open-Minded</li>
					<li>Flexible</li>
					<li>Adaptable</li>
					<li>Reliable</li>
					<li>Good communicator</li>
					<li>Organized</li>
				</ul>
			</div>
			<div class="clear"></div>
		</section>
		
		
		<section>
			<div class="sectionTitle">
				<h1>Education</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<h2>Spitu Haret University</h2>
					<p class="subDetails">Informatics</p>
					<p>First year of study.</p>
				</article>
				<br/>g
				
				<article>
					<h2>Constantin Brâncoveanu College</h2>
					<p class="subDetails">Mathematics and Informatics</p>
					<p>Graduated summa cum laude.</p>
				</article>
			</div>
			<div class="clear"></div>
		</section>
		<br/>
	</div>
</div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-3753241-1");
pageTracker._initData();
pageTracker._trackPageview();
</script>
</body>
</html>